LITELLM_MODEL_ID=gemini/gemini-2.5-flash
LITELLM_API_KEY=

MCP_CONFIG_PATH=mcp_orchestration/mcp_configs.json

# Options for MCP server transport mode: stdio, streamable-http
FASTMCP_SERVER_TRANSPORT_MODE=streamable-http

FASTMCP_SERVER_HOST=0.0.0.0
FASTMCP_SERVER_PORT=8000

DEBUG_MODE=true