# === For keys from Google AI Studio ===
# LITELLM_MODEL_ID=gemini/gemini-2.5-flash
# LITELLM_API_KEY=google_api_key_here

# === For keys from Open Router ===
# LITELLM_MODEL_ID=openrouter/google/gemini-2.5-flash
# LITELLM_API_KEY=openrouter_api_key_here

# === Agent Workspace Path ===
AGENT_WORKSPACE_PATH=data/agent_workspace

DEBUG_MODE=true